Python-Chart==1.39
argparse==1.2.1
jcconv==0.2.3
ofxparse==0.14
psycogreen==1.0
psycopg2==2.5.4
pyPdf==1.13
pydot==1.0.2
python-dateutil==2.4.0
python-ldap==2.4.19
python-openid==2.2.5
pytz==2014.10
pyusb==1.0.0b2
qrcode==5.1
suds-jurko==0.6
vatnumber==1.2
vobject==0.6.6
wsgiref==0.1.2

